SBN_SEED: CHANGEME
SSN_SEED: CHANGEME
SMN_SEED: CHANGEME
BCD_SEED: CHANGEME
BCT_SEED: CHANGEME
BCP_SEED: CHANGEME
GLD_SEED: CHANGEME
GL_SEED: CHANGEME
IMN_SEED: CHANGEME
IDN_SEED: CHANGEME
ITN_SEED: CHANGEME
CDN_SEED: CHANGEME
